.banner {
  position: relative;

  .loginCard {
    position: fixed;
    top: 8vh;
    left: 31%;
    width: 38%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;

    opacity: 0;
    transform: translateY(50px);
    animation: slide-down 400ms ease-out forwards;
    @media screen and (max-width: 992px) {
      left: 15%;
      width: 70%;
    }
    @media screen and (max-width: 567px) {
      left: 5%;
      width: 90%;
    }
    @keyframes slide-down {
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .inputForm1 {
      width: 100%;
      font-size: 1rem;
      padding-left: 0.5rem;
      border: none;
      border: 1px solid lightgray;

      &:focus {
        outline: none;
      }
    }
    .inputForm2 {
      width: 100%;
      font-size: 1rem;
      padding-left: 0.5rem;
      border: none;
      border: 1px solid lightgray;
      border-top: none;

      &:focus {
        outline: none;
      }
    }
    .Link {
      text-decoration: none;
      color: light;
    }
  }
}
