/* ---------------------------------------------------
    SCSS FILE FOR STYLING THE NCC TEST PAGE
----------------------------------------------------- */

/* IMPORT FONT FROM GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@300;500&family=Prompt:ital,wght@1,200;1,300;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap");

/* COMMON STYLE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

/* WRAPPER STYLE */
.wrapper {
  position: relative;
  display: flex;
  width: 1918px;
  height: 935px;
  margin: 0 auto;

  //SIDEBAR STYLE
  #sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 150px;
    height: 100%;
    background: #191718;

    transition: all 0.3s;
    ul {
      list-style: none;
      li {
        padding: 14px 91px 11px 16px;
        border-bottom: 1px solid #5c5c5c;
        a {
          color: #aaaaaa;
          text-decoration: none;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 18.75px;
        }
      }
      li:hover,
      li:focus {
        a {
          color: #ffffff;
        }
        background-color: #5c5c5c;
      }

      .active {
        a {
          color: #ffffff;
        }
      }
    }
  }

  // CONTENT STYLE
  .container {
    width: 1768px;
    height: 935px;
    margin: 0 129px;
    #content {
      .logo {
        margin: 0 auto;
        // background-image: url("/image/logoNCC.png");
        width: 310px;
        height: 122px;
        margin-top: 20px;
        margin-bottom: 30px;
      }

      //content grid
      .content-grid {
        display: grid;
        grid-template-columns: repeat(3, fv);
        column-gap: 50px;

        .Group1 {
          grid-area: 1 / 1 / 1 / 4;
          text-align: center;
          background-color: #efefef;
          h5 {
            margin-top: 38px;
            margin-bottom: 18px;
          }
          p {
            margin: 0 auto;
            width: 972px;
            height: 95px;
            margin-bottom: 38px;
          }
        }
        .Group2 {
          grid-area: 2 / 1 / 3 / 2;
        }
        .Group3 {
          grid-area: 2 / 2 / 3 / 3;
        }
        .Group4 {
          grid-area: 2 / 3 / 3 / 4;
        }
        .group-container {
          margin-top: 40px;
          margin-bottom: 261px;
          .group-content {
            margin-top: 18px;
          }
          img {
            float: left;
            margin-right: 16px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }

  // FOOTER STYLE
  #footer {
    position: absolute;
    bottom: 0;
    color: #3e3e3e;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 1768px;
    height: 79px;
    margin-left: 150px;
    border-top: 1px solid #dedede;
    padding: 30px 126px 0px;
  }
}
