.CategoryCover {
  margin-top: 2.5rem;
  p {
    text-align: center;
    color: rgb(0, 0, 0, 0.5);
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }
  h1 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0, 0.8);
  }
  .CategoryCard {
    border: none;

    .Category {
      &:hover {
        filter: brightness(1.035);
        cursor: pointer;
      }
    }
  }
}
