.ProductShow {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  color: rgb(0, 0, 0, 0.8);
  margin-top: 1.5rem;

  .ProductShowContent {
    grid-column: 2 / 5;
    margin-top: 1rem;
    margin-bottom: 3rem;
    .sidebarList {
      text-decoration: none;
      list-style-type: none;
      //  justify-content: center;
    }
  }
}
